<div class="relative">
    <!-- First div with images -->
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div class="grid gap-4">
            <div class="">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://images.pexels.com/photos/5337685/pexels-photo-5337685.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://images.pexels.com/photos/1132558/pexels-photo-1132558.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://images.pexels.com/photos/326281/pexels-photo-326281.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://images.pexels.com/photos/70842/hot-pepper-pepper-fire-food-70842.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://images.pexels.com/photos/12472260/pexels-photo-12472260.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://images.pexels.com/photos/239581/pexels-photo-239581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://images.pexels.com/photos/6947300/pexels-photo-6947300.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://images.pexels.com/photos/9429194/pexels-photo-9429194.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://images.pexels.com/photos/115740/pexels-photo-115740.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://images.pexels.com/photos/1640770/pexels-photo-1640770.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://images.pexels.com/photos/775032/pexels-photo-775032.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            </div>
            <div>
                <img class="h-56 max-w-full rounded-lg"
                    src="https://images.pexels.com/photos/708488/pexels-photo-708488.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
        </div>
    </div>

    <!-- Second div on top -->
    <div class="absolute inset-0 flex items-start mt-10 justify-center  ">
        <div class="lg:w-5/12 p-5 mx-auto bg-white shadow-2xl rounded-2xl">
            <div class="flex items-center justify-center">
                <img class="h-20 mr-2" src="assets/images/logo/weblog-nav 2.png" alt="image description">
                <h2 class="text-3xl font-semibold py-5">Login</h2>
            </div>
            <form [formGroup]="loginForm" class="max-w-md mx-auto">
                <div class="relative z-0 w-full mb-5 group">
                    <input formControlName="email" type="email" name="floating_email" id="floating_email"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="floating_email"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
                        address</label>
                    <span *ngIf="loginForm.hasError('required', 'email') && loginForm.controls['email'].dirty"
                        class="text-red-500">*Email is required</span>
                    <span *ngIf="loginForm.hasError('email', 'email')" class="text-red-500">*Email is Invalid</span>
        
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <input formControlName="password" type="password" name="floating_password" id="floating_password"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="floating_password"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
                    <span *ngIf="loginForm.hasError('required', 'password') && loginForm.controls['password'].dirty"
                        class="text-red-500">*Password is required</span>
        
                </div>
                <div class="justify-center flex items-center">
                    <button [disabled]="loginForm.invalid" [class.disabled]="loginForm.invalid" (click)="login()" type="submit"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
        
                </div>
            </form>
            <div class="flex justify-between mt-5">
                <a routerLink="/forget-password" href="" class="text-indigo-600 ml-2 cursor-pointer">Forget Password?</a>
                <a routerLink="/register" href="" class="text-indigo-600 ml-2 cursor-pointer">Create Account</a>
            </div>
        </div>
    </div>
</div>
